@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h3,
h4 {
  font-weight: 500;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: linear-gradient(#ff00aacc, rgba(226, 8, 226, 0.8));
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  height: 100%;
  width: 100%;
  /* background: #2b1f4d; */
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #333;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #29d9d5;
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid linear-gradient(aqua, rgba(255, 255, 255, 0));
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: linear-gradient(aqua, rgba(255, 255, 255, 0));
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 5%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header .active {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  margin-right: auto;
  font-size: 3rem;
  color: #10221b;
  font-weight: bolder;
}

.header .logo i {
  color: #219150;
}

.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: 800;
  color: #10221b;
}

.header .navbar a:hover {
  color: #219150;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

.icons .login-name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: 800; */
  font-size: 1.5rem;
}

.header .icons {
  margin-left: 1rem;
}

.header .icons a {
  display: inline-block;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #219150;
}

.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}

.search-form.active {
  transform: translateY(0%);
}

.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}

.search-form #close-search:hover {
  color: #219150;
}

.search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: flex;
  align-items: center;
}

.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}

.search-form form input::placeholder {
  color: #aaa;
}

.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}

.search-form form label:hover {
  color: #219150;
}

.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(aqua, rgba(255, 255, 255, 0));
  display: flex;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container .form {
  width: 380px;
  height: 480px;
  top: 10rem;
  position: relative;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}

.form .button-box {
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 50px 60px;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.button-box .toggle-btn {
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.button-box #btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #29d9d5;
  border-radius: 30px;
  transition: 0.5s;
}

.form #login {
  left: 50px;
}

.form #register {
  left: 450px;
}

.form .social-icons {
  margin: 30px auto;
  text-align: center;
}

.form .social-icons i {
  width: 30px;
  height: 30px;
  margin: 0 12px;
  padding: 5px;
  color: #fff;
  background: #2b1f4d;
  box-shadow: 0 0 20px #eee;
  border-radius: 2px;
  cursor: pointer;
}

.form .input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.form .input-field {
  left: 0;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  text-transform: none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.form .submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 10px;
  background: #29d9d5;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  justify-content: flex-start;
}

.home .box .content {
  width: 50rem;
}

.home .box .content span {
  font-size: 4rem;
  color: #10221b;
}

.home .box .content h3 {
  font-size: 6rem;
  color: #219150;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #10221b;
}

.category {
  background: #fff;
  border-radius: 1rem;
}

.category .box-container {
  display: -ms-grid;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.category .box-container .box {
  text-align: center;
  padding: 1rem;
}

.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}

.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.about {
  background: #eee;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}

.about .content {
  flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  color: #219150;
}

.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem 0;
}

.book .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.book .row .image {
  flex: 1 1 40rem;
}

.book .row .image img {
  width: 100%;
}

.book .row form {
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.book .row form .inputBox {
  padding: 0.5rem 0;
}

.book .row form .inputBox select {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.book .row form .inputBox select option {
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.book .row form .inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.book .row form .inputBox h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}

.destination {
  background: #fff;
  border-radius: 1rem;
  margin: 2rem 0;
}

.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .box:hover img {
  transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: 0.5rem;
}

.services {
  background: #fff;
  border-radius: 1rem;
  margin: 2rem 0;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.services .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}

.services .box-container .box i {
  font-size: 4rem;
  color: #29d9d5;
  margin-bottom: 2rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.gallery {
  background: #fff;
  border-radius: 1rem;
  margin: 2rem 0;
}

.gallery .box-container {
  columns: 3 25rem;
  column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  break-inside: avoid;
  margin: 1rem;
}

.gallery .box-container .box img {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.gallery .box-container .box:hover img {
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.4);
}

.gallery .box-container .box span {
  font-size: 1.4rem;
  color: #aaa;
}

.gallery .box-container .box h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #444;
}

.review {
  display: flex;
  background: #2b1f4d;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.review .content {
  flex: 1 1 42rem;
}

.review .content span {
  font-size: 2rem;
  color: #29d9d5;
}

.review .content h3 {
  font-size: 3rem;
  color: #fff;
}

.review .content p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.review .box-container {
  flex: 1 1 42rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #222;
  border: 0.2rem solid #111;
}

.review .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}

.review .box-container .box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: #aaa;
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.review .box-container .box .user h3 {
  font-size: 1.7rem;
  color: #fff;
}

.review .box-container .box .user span {
  color: #aaa;
  font-size: 1.5rem;
}

.contact {
  background: #fff;
  border-radius: 1rem;
  margin: 2rem 0;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.contact .row .image {
  flex: 1 1 35rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.brand-container {
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2rem 2rem;
  text-align: center;
}

.footer {
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #219150;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: #219150;
}

/* media queries  */

@media (max-width: 1200px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }

  .home .box.second {
    justify-content: center;
    background-position: left !important;
  }

  .home .box .content {
    text-align: center;
  }

  .home .box .content span {
    font-size: 3rem;
  }

  .home .box .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  .header .logo {
    font-size: 1.5rem;
  }

  .header .icons {
    margin-left: 1rem;
  }

  .header .icons a {
    margin-left: 0rem;
    font-size: 1.5rem;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }

  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }

  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  header .navbar {
    width: 100vw;
  }

  .logo {
    font-size: 10px;
  }

  .heading span {
    font-size: 1rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }

  #menu-bar {
    display: initial;
    font-size: 2vh;
  }

  header .navbar {
    position: absolute;
    display: inline-block;
    width: 45vw;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar li {
    height: 2vh;
    width: 30vw;
    top: 100%;
    display: block;
    border-radius: 0.5rem;
    margin: 1rem 1rem;
    color: #fff;
    background: linear-gradient(aqua, rgba(255, 255, 255, 0));
  }

  .login-form-container .form {
    height: 70vh;
    width: 70vw;
  }

  .login-form-container .form .submit-btn {
    width: 50vw;
  }

  .form #login {
    left: 20px;
  }

  .form #register {
    left: 380px;
  }

  .packages .box-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
    margin: 0 auto;
    padding: 5px;
    /* gap: 2rem; */
  }
}

/*
======================
News Section
======================
*/

.news {
  padding-bottom: 8rem;
}

.new__card {
  background-color: var(--primaryColor);
  width: 95%;
  margin: 0 auto;
}

.new__card:not(:last-child) {
  margin-right: 1rem;
}

.card__footer {
  padding: 3rem 1.4rem;
}

.card__footer h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.card__footer span {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--black2);
}

.card__footer p {
  font-size: 1.5rem;
  color: var(--black2);
  margin-bottom: 1.6rem;
  line-height: 2.7rem;
}

.card__footer a button,
.card__footer a button {
  display: inline-block;
  padding: 1.4rem 4rem;
  border: 1px solid var(--black);
  color: var(--black);
  cursor: pointer;
  transition: 0.3s;
}

.card__footer a button:focus {
  outline: none;
}

.card__footer a button:hover {
  border: 1px solid var(--black);
  color: var(--white);
  background-color: var(--black);
}

.newsletter {
  padding: 6rem 0;
  border-top: 1px solid var(--primaryColor);
}

.newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter__data h3 {
  font-size: 2.4rem;
  font-weight: inherit;
  margin-bottom: 1rem;
}

.newsletter__data p {
  font-size: 1.5rem;
  color: var(--black2);
}

.newsletter__email {
  font-size: 1.4rem;
  display: inline-block;
  width: 37rem;
  padding: 1.6rem;
  background-color: var(--primaryColor);
  border: none;
  text-indent: 1rem;
}

.newsletter__email:focus {
  outline: none;
}

.newsletter__link:link,
.newsletter__link:visited {
  display: inline-block;
  padding: 1.4rem 3rem;
  margin-left: -0.5rem;
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
}

.newsletter__link:hover {
  background-color: #000;
}

/*
======================
Newsletter Media Query
======================
*/

@media only screen and (max-width: 998px) {
  .newsletter {
    padding: 6rem 4rem;
  }

  .newsletter__content {
    flex-direction: column;
    align-items: center;
  }

  .newsletter__email {
    width: 45rem;
  }

  .newsletter__data {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .newsletter__content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .newsletter__email {
    width: 45rem;
    display: block;
    margin-bottom: 1.6rem;
  }
}

@media only screen and (max-width: 568px) {
  .newsletter__email {
    width: 23rem;
    font-size: 1.2rem;
  }

  .newsletter__data h3 {
    font-size: 1.6rem;
  }

  .newsletter__data p {
    font-size: 1rem;
  }

  .newsletter__link:link,
  .newsletter__link:visited {
    padding: 1.2rem 2rem;
    margin-left: 0;
  }
}